/*
Equinix Fabric API v4

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package fabricv4

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// EventsApiService EventsApi service
type EventsApiService service

type ApiGetEventRequest struct {
	ctx            context.Context
	ApiService     *EventsApiService
	eventId        string
	type_          *GetEventTypeParameter
	connectionId   *string
	portId         *string
	xCORRELATIONID *string
	xAUTHUSERNAME  *string
}

// type of events
func (r ApiGetEventRequest) Type_(type_ GetEventTypeParameter) ApiGetEventRequest {
	r.type_ = &type_
	return r
}

// Connection UUID
func (r ApiGetEventRequest) ConnectionId(connectionId string) ApiGetEventRequest {
	r.connectionId = &connectionId
	return r
}

// Port UUID
func (r ApiGetEventRequest) PortId(portId string) ApiGetEventRequest {
	r.portId = &portId
	return r
}

// Correlation identifier
func (r ApiGetEventRequest) XCORRELATIONID(xCORRELATIONID string) ApiGetEventRequest {
	r.xCORRELATIONID = &xCORRELATIONID
	return r
}

// User name
func (r ApiGetEventRequest) XAUTHUSERNAME(xAUTHUSERNAME string) ApiGetEventRequest {
	r.xAUTHUSERNAME = &xAUTHUSERNAME
	return r
}

func (r ApiGetEventRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetEventExecute(r)
}

/*
GetEvent Get Event

The API provides capability to get list of events for user Asset, including pagination

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param eventId Event UUID
	@return ApiGetEventRequest
*/
func (a *EventsApiService) GetEvent(ctx context.Context, eventId string) ApiGetEventRequest {
	return ApiGetEventRequest{
		ApiService: a,
		ctx:        ctx,
		eventId:    eventId,
	}
}

// Execute executes the request
func (a *EventsApiService) GetEventExecute(r ApiGetEventRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsApiService.GetEvent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fabric/v4/events/{eventId}"
	localVarPath = strings.Replace(localVarPath, "{"+"eventId"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return nil, reportError("type_ is required and must be specified")
	}

	if r.connectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connectionId", r.connectionId, "form", "")
	}
	if r.portId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "portId", r.portId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xCORRELATIONID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-CORRELATION-ID", r.xCORRELATIONID, "simple", "")
	}
	if r.xAUTHUSERNAME != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-AUTH-USER-NAME", r.xAUTHUSERNAME, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetEventsByAssetRequest struct {
	ctx               context.Context
	ApiService        *EventsApiService
	type_             *GetEventTypeParameter
	connectionId      *string
	portId            *string
	routerId          *string
	routingProtocolId *string
	startDateTime     *time.Time
	endDateTime       *time.Time
	xCORRELATIONID    *string
	xAUTHUSERNAME     *string
}

// type of events
func (r ApiGetEventsByAssetRequest) Type_(type_ GetEventTypeParameter) ApiGetEventsByAssetRequest {
	r.type_ = &type_
	return r
}

// Connection UUID
func (r ApiGetEventsByAssetRequest) ConnectionId(connectionId string) ApiGetEventsByAssetRequest {
	r.connectionId = &connectionId
	return r
}

// Port UUID
func (r ApiGetEventsByAssetRequest) PortId(portId string) ApiGetEventsByAssetRequest {
	r.portId = &portId
	return r
}

// Cloud Router UUID
func (r ApiGetEventsByAssetRequest) RouterId(routerId string) ApiGetEventsByAssetRequest {
	r.routerId = &routerId
	return r
}

// Routing Protocol UUID
func (r ApiGetEventsByAssetRequest) RoutingProtocolId(routingProtocolId string) ApiGetEventsByAssetRequest {
	r.routingProtocolId = &routingProtocolId
	return r
}

// Start date and time
func (r ApiGetEventsByAssetRequest) StartDateTime(startDateTime time.Time) ApiGetEventsByAssetRequest {
	r.startDateTime = &startDateTime
	return r
}

// End date and time
func (r ApiGetEventsByAssetRequest) EndDateTime(endDateTime time.Time) ApiGetEventsByAssetRequest {
	r.endDateTime = &endDateTime
	return r
}

// Correlation identifier
func (r ApiGetEventsByAssetRequest) XCORRELATIONID(xCORRELATIONID string) ApiGetEventsByAssetRequest {
	r.xCORRELATIONID = &xCORRELATIONID
	return r
}

// User name
func (r ApiGetEventsByAssetRequest) XAUTHUSERNAME(xAUTHUSERNAME string) ApiGetEventsByAssetRequest {
	r.xAUTHUSERNAME = &xAUTHUSERNAME
	return r
}

func (r ApiGetEventsByAssetRequest) Execute() (*InlineResponse200, *http.Response, error) {
	return r.ApiService.GetEventsByAssetExecute(r)
}

/*
GetEventsByAsset Get Events of Asset

The API provides capability to get list of events for user Asset, including pagination

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetEventsByAssetRequest
*/
func (a *EventsApiService) GetEventsByAsset(ctx context.Context) ApiGetEventsByAssetRequest {
	return ApiGetEventsByAssetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InlineResponse200
func (a *EventsApiService) GetEventsByAssetExecute(r ApiGetEventsByAssetRequest) (*InlineResponse200, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InlineResponse200
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsApiService.GetEventsByAsset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fabric/v4/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	if r.connectionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connectionId", r.connectionId, "form", "")
	}
	if r.portId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "portId", r.portId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.routerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "routerId", r.routerId, "form", "")
	}
	if r.routingProtocolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "routingProtocolId", r.routingProtocolId, "form", "")
	}
	if r.startDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDateTime", r.startDateTime, "form", "")
	}
	if r.endDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDateTime", r.endDateTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xCORRELATIONID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-CORRELATION-ID", r.xCORRELATIONID, "simple", "")
	}
	if r.xAUTHUSERNAME != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-AUTH-USER-NAME", r.xAUTHUSERNAME, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v []Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
